
<div class='items-style'>
  <ul>
    <h5>Items to take with you!</h5>
    {{#each place.items as |item|}}
      <li class='item-spacing'>{{item.itemName}}<button {{action 'deleteItem' item}} class='delete-button'>Remove</button></li>
      {{/each}}
      <li>{{input value=newItem.itemName placeholder='New Item'}}</li><button {{action 'save' place}}>Save Item</button>
      {{log 'place in travel hbs' place}}
      {{!-- {{log 'model newITEM' newItem}} --}}
    </ul>
</div>
