
{{#each model as |place|}}
  <h4> {{#link-to 'place' place}}
    {{place.name}}
    {{/link-to}}
    {{!-- <button {{action 'delete' place}}>Delete</button> --}}
    {{!-- {{input value=place.name}} --}}
    {{!-- <button {{action 'edit' place}}>EDIT</button> --}}
    {{!-- {{log 'this is model' model}} --}}
  </h4>
{{/each}}

{{#link-to 'places.new'}}<button>Add New Place</button>{{/link-to}}
{{outlet}}
