
<h4>{{model.name}}</h4>
<button {{action 'delete' model}}>Delete</button>
{{#link-to 'place.edit'}}<button>Edit</button>{{/link-to}}

{{outlet}}

<ul>
  {{#each model.items as |item|}}
    <li>{{item.itemName}}<button {{action 'deleteItem' item}}>Del</button></li>
    {{!-- {{log 'item' item}} --}}
  {{/each}}

</ul>
{{!-- {{log 'MODEL' model}} --}}
