
<h4>{{model.name}}</h4>
{{!-- {{log 'PLACE NAME' model}} --}}
<button {{action 'delete' model}} class='delete-button-place'>Delete Place</button>
{{#link-to 'place.edit'}}<button class='edit-button'>Edit Place</button>{{/link-to}}
{{#link-to 'places'}}<button>Back</button>{{/link-to}}

{{outlet}}

{{travel-list place=model
              addItem='addItem'}}
{{!-- <ul>
  {{#each model.place.items as |item|}}
    <li>{{item.itemName}}<button {{action 'deleteItem' item}} class='delete-button'>X</button></li>
  {{/each}}
  <li>{{input value=model.newItem.itemName}}</li><button {{action 'saveItem' model.newItem model.place}}>Save</button>
  {{log 'model newITEM' model.newItem}}
</ul> --}}
